<% provide(:title, @blog.title ) %>

<div class="page-header">
  <h1 id="blog-title"><%= link_to image_tag("/system/W3er-title.png", alt: @blog.title, class: "img-responsive"), root_path %><br>
  <small>a blog on first go without spending ages practicing.</small></h1>
</div>

<%= will_paginate %>

<div class="articles">
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
    <div class="article-divider"></div>
  <% end %>
</div>

<%= will_paginate %>
