<% provide(:title, @blog.title ) %>

<div class="page-header">
  <h1 id="blog-title">
    <%= link_to image_tag("/system/W3er-title.png", alt: @blog.title, class: "img-responsive"), root_path %><br>
  </h1>
</div>

<%= will_paginate @articles_page %>

<div class="articles">
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
    <div class="article-divider"></div>
  <% end %>
</div>

<%= will_paginate @articles_page %>
