<% provide(:title, 'All Articles') %>

<%= will_paginate %>

<div class="articles">
  <% @articles.each do |article| %>
    <%= render 'article', article: article %>
  <% end %>
</div>

<%= will_paginate %>
