<%= provide(:title, @article.title) %>

<% if @article.published? || signed_in? %>
  <%= render 'article' %>
<% else %>
  <div> No article in this url. <%= link_to "back to home", root_path %>.</div>
<% end %>

