@import "bootstrap-sprockets";
@import "bootstrap";

/* media default width */
// using narrower width as it's using single column layout

@media (min-width: 1200px) {
	.container {
		width: 900px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 880px;
	}
}

/* fonts */


/* mixins, valiables, etc. */

$grayMediumLight: #eaeaea;
$grayLighter: #eeeeee;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	margin-right: 10px;
	margin-top: 4px;
	&:hover { 
		color: #fff; 
		text-decoration: none;
	}
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* forms */

/*

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

*/

/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}

/* article formatting */

h1#blog-title  {
	margin: 0; 
	line-height: 5px;
	img.img-responsive { 
		margin-left: auto; 
		margin-right: auto;
	}
}

.pagination {
	margin: 3px 0;
}

.articles {
	.article-divider {
		margin-bottom: 4em;
	}
}

.article {
	h1.title { 
		font-size: 3em;
  	margin-bottom: 5px; 
  }
	.timestamp {
		font-family: italic;
	}
	.content {
		margin-top: 30px;
		li {
			font-size: 1.1em;
			line-height: 1.4em;
		}
		img.img-responsive {
			display: inline-block;
			float: left;
			margin: 0 1em 0.5em 0;
		}
		p {
			clear: both;
		}
	}
	.edit-link {
		color: orange;
	}
	.parmalink {
		margin-bottom: 30px;
	}
	.glyphicon-tags {
		color: grey;
	}
	.tags {
		margin: 10px 5px;
		.label { 
			font-size: larger; 
		}
	}
}

.drafts {
	h1.title {
		margin: 0;
		font-size: 2em;
	}
	div.article {
		margin-bottom: 8px;
	}
}

.article-comment {
}

/* google cusstom search formatting */

#top-nav {
	height: 48px;
}

#gsc {
	width: 30%;
	min-width: 330px;
	margin: 10px 30px 0 30px;
	position: relative;
	display: inline-block;
	line-height: 1px;
}

#gsc .gsc-control-cse * {
	box-sizing: content-box;
}

#gsc td {
	border: none;
}

#gsc .gsc-control-cse,
#gsc .gsc-control-cse-ja,
#gsc .gsib_a {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background-color: transparent !important;
}

#gsc .gsc-input {
	margin: 0 !important;
	padding: 0 !important;
	line-height: 1;
}

#gsc form.gsc-search-box {
	margin: 0 !important;
	padding: 0 !important;
	display: inline-block;
//	include: .navbar-form;
}

#gsc #gs_tti0 input {
	background: #aaa !important;
}

#gsc input[type="text"] {
	border: 1px solid #dddddd !important;
	background-color: #dddddd;
	height: 25px !important;
}

#gsc .gsib_b a {
	position: absolute;
	top: 3px;
	left: 185px;
}



/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors { 
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}
