<footer class="footer">
  <small>
    Powered by <a href="http://textfi.com/">textfi.com</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>

