<footer class="footer">
  <small>
    Powered by <a href="http://textfi.com/">textfi.com</a>
  </small>
  <nav>
    <ul>
       <% if @blog %>
       <li><a href="#" data-toggle="popover" data-placement="top" data-trigger="focus" data-container="body" title="About <%= @blog.title %>" data-content='<%== @blog.summary %>'>About</a></li>
       <% end %>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>

